.box{
    width: 200px;
    height: 200px;
    background-color: green;
    animation-name: box;
    animation-duration: 5s;
    /* border-radius: 50%; */
    /* TO make the animation pause after the completion odf the animaton */
    animation-fill-mode:forwards;
    /* itarate the animmation like loop */
    animation-iteration-count: 5;
    position:relative;

    /*  */
}

@keyframes box {
    100%{
        width: 400px;
        height: 400px;
        background-color: yellow;
        border-radius: 100%;
        top: 300px;
        left: 500px;
    }
    50%{
        width: 400px;
        height: 400px;
        background-color: rgb(170, 12, 255);
        border-radius: 50%;
        top: 200px;
        left: 300px;
    }
    25%{
        width: 400px;
        height: 400px;
        background-color: rgb(255, 46, 46);
        border-radius: 25%;
        top: 100px;
        left: 200px;
    }
}
.gh{
    display: flex;
    justify-content: center;
    align-items:center;
}
/* To overide our own design pattern */
.btn-primary{
background-color: rgb(29, 98, 29);
font-size: 24PX;
}
.butt{

}
.butt:hover{
    background-color: red;
}