*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.calculator{
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,100px);
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    
}
#display{
    grid-column: span 4;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 50px;
    font-size: 24px;
    border-radius:10px;
    text-align: end;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#equal{
    grid-column: span 2;
}
button{
    height: 50px;
    border-radius: 10px;
    margin:5px;
    padding:3px;
    font-size: 18px;

}
#ac,#equal{
    background-color: rgb(127, 171, 127);
}
#delete{
    background-color: rgb(173, 119, 119);
}

button:hover{
    background-color: rgb(105, 105, 105);
}