*{
    text-align: center;
    /* font-size:28px; */
}
.b{
    color: aliceblue;
    background-color: rgb(8,102,255);
    border:5px dotted rgb(8,102,255);
    border-radius:8px;
    width:350px;
    font-size:25px;
    font-family:fantasy;
}
#bb{
    border:1px solid rgb(188, 188, 188);
    margin:0px 540px;
    height: auto;
    padding:50px 0px;
    border-radius:8PX;
    box-shadow:6px 6px 12px rgb(157, 157, 157);
    background-color: rgb(247, 251, 255);
}
#h1{
    font-size:40px;
    margin-top:170px;
    color: rgb(8,102,255);
}
#body{
     background-color: rgb(240,242,245);
}
.tb{
    border-radius:4px;
    height:48px;
    border-color: rgba(128, 128, 128, 0.583);
    width:335px;
}
input::placeholder {
    font-size:18px; /* Set your desired font size */
    color: #999;     /* Set your desired color */
  }
  /* child selector */
#fgt>a{
    font-size:18px;
}
.ca{
    color: aliceblue;
    background-color: rgb(14, 189, 43);
    border:none;
    border-radius:8px;
    width:350px;
    height:50px;
    font-size:25px;
    font-family:fantasy;}
    #h1{
        font-size:60px;
    }