.para1{
    background-color: bisque;
    flex:1;
    margin:10px;
}
.para2{
    background-color: rgb(22, 103, 42);
    flex:1;
    margin:10px;
}
.para3{
    background-color: rgb(241, 151, 42);
    flex:1;
    margin: 10px;
}
@media(min-width:700px){
    .container{
        flex-direction: row;
    }
    .container p{
        background-color: rgb(85, 86, 86);
    }
}
    
/* .container{
    background-color: rgb(223, 210, 122);
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    /* It adjust(wrap to down or nextline) the contenet accordinthr to scree size  
    flex-wrap: wrap;
}
.box {
    width: 100px;
    height: 100px;
    background-color: rgb(9, 110, 31);
    border: 3px solid #ffffff;
}
.box2{
    /* helps to grow the particular div based on the screen size 
    flex-grow:1; 
}

/* can change their order by using order */
/* By default the will be the row wise  an that can be changed using the flex direction property*/