/* div{ */
    /* width:200px;
    height: 200px; */
    /* liner gradient, radial gradient (circle effect)
    background:linear-gradient(to right, green,yellow,rgb(209, 100, 100));
    /* to bring the div to the centre 
    margin: auto;*/

    /* SIZE VALUE */
/* }
html{
    font-size: 20px;
}
div{
    font-size: 16px;
}
.para1{
background-color: rgb(129, 199, 129);
/* em it take size related to the parent that is (1.5em value) times of parent html 1em=16px
/* REM take the size according to the root parent 
font-size: 1.5em;
}
.para2{
    background-color: rgb(204, 213, 128);
    font-size: 1.5em;
    } */

    /* vw ,viewport width view prot height */
    .box{
width: 50vw;
height:50vw;
border: 3px solid darkgoldenrod;
    }