/* .container div{
    background-color: bisque;
}
.container{
    display: grid;
    /* it seperates the give content in grid. make grid based on the no fr givren  
    grid-template-columns:1fr 1fr 1fr;
    /* To create a grid in row wise 
    grid-template-rows:10fr 10fr 10fr ;
    /* To make a space between the grid div in row and column. can alse be used 
    gap: 20px;

grid-template-columns:minmax(200,1fr)
    /* To make a space between the grid div in row and column 
    /* column-gap: 10px;
    row-gap: 10px; 


    /* T evenly make a grap between row and column use gap 
    
} */





/* .container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.box{
    background-color: rgb(102, 214, 102);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
grid-column: span 3;
}
.box2{
grid-row: span 5;
} */







body{
   background-color: rgb(57, 55, 55);
}

.layout div {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: aquamarine;
}
.layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "h h h h h "
                         "sb1 m m m sb2"
                         "f f f f f";
}