/* to remove the underline from link */
a{
    text-decoration: none;
}
/* //psudo codes for link */

/* 1. the link color that is not opened yet */
a:link{
color:blue;
}
/* 2. the link color that is already visited before */
a:visited{
    color:red;
}
/* to make thhen hover effect */
a:hover{
    /* the size of the text to zoom in from the  */
    font-size: 24px;
}
/* while using tab to select  */
a:focus{
color:black;
}
/* to display the specific color in a blink second the active color is displayed */
a:active{
    color: green;
}