ul{
    list-style-type:square;
}
#subpoint{
    /* to create asubpoints in list */
    /*list-style-position: inside;*/
    /* above can be written as  */
    list-style: circle inside;
    /* visiblity and hidden display */
    /* visibility:hidden; */
    /* display: none; */

}