body{
    background-color:lightseagreen;
}
.btn{
    background-color: rgb(75, 75, 75);
    border: 0cap;
    height: 35px;
    width: 89px;
    border-radius:25px;
    color: aliceblue;
    font-size: 18px;
}