.box1{
    width: 130px;
    height:130px;
    background-color:green;
    /*POSITION :sticky move with the content upto certain area after position top,lelt %,right in %,bottem  can be added*/
    position:relative;
}
.box2{
    width: 50px;
    height:50px;
    background-color:rgb(255, 248, 48);
    /*POSITION : ABSOLUTE sends the next tag or div behind */
    /*POSITION : FIXED set the element in the fixed position in the webpage*/
    position:absolute;
    /* OFFSET T MOVE THE EEMENTS */
    /* top: 100px;
    left: 100px; */
}