.box{
    height: 250px;
    width: 250px;
margin: 150px auto;
    background-color: rgb(15, 99, 15);
    /* to apply the ttransition for the color change and width change */
    transition-duration: 2s;
    /* to apply transition for particular property */
    /* transition-property:background-color; */

    /* delay the transition */
    transition-delay:1s;

    /* to limit the speed of the transition from start end midle */

    transition-timing-function:ease-in-out;
}
.box:hover{
    background-color:blueviolet;
    width: 500px;
    /* Rotate the transition 
    transform: rotate(180deg);*/
/* if -ve value moves right to left in +ve it moves from left to right.Can be also used in y axis */
    transform: translate(100px);


}